@font-face {
    font-family: "herculanum";
    src: url("https://raw.githubusercontent.com/maxi83c/Fonts/main/herculanum.woff");
  }
  
  body { 
    font-family: "herculanum", sans-serif;
    background-color: #f46d33; 
    width: 100%;
  } 

  header { 
    min-height: 140px;
  } 


  .title{
    width: 100%;
    text-decoration:none;
  }

.title,
.subtitle {
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4rem;
  margin: 0;
  text-shadow: 0 0 var(--blur-size) white;
}

.title {
  font-size: 6rem;
  top: 1.5rem;
}
.subtitle {
  font-size: 1.5rem;
  top: 7.3rem;
}

main{
  display: block;
  padding: 1em; 
  min-width: 100%;
}

#sokka-attack{
  text-align: center; 
  
}
.video-sokka-attack{
  margin-left: auto;
  margin-right: auto;
}

#countdown {
  font-size: 72px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 100px;

}

#appa{ 
  margin: auto;
  text-align: center;
}

footer {
  text-align: center;
  padding: 1em;
}

#mobile{
  display: none;
}

@media only screen and (max-width: 480px) {
  #mobile {
      display: block;
  } 
  video
  {
    width: 320px;
    height: 240px;
  }
}